<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>SHINAJÍ</h1>
        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" style="width: 200px;">
        <mat-nav-list>
            <mat-list-item routerLink="/Pages/dashboard">
                <mat-icon mat-list-icon>dashboard</mat-icon>
                <div mat-line>Dashboard</div>
            </mat-list-item>
            <mat-list-item routerLink="/Pages/usuarios">
                <mat-icon mat-list-icon>group</mat-icon>
                <div mat-line>Usuarios</div>
            </mat-list-item>
            <mat-list-item routerLink="/Pages/contribuyentes">
                <mat-icon mat-list-icon>group</mat-icon>
                <div mat-line>Contribuyentes</div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-content>
    <div style="height: 92vh;">
        <router-outlet>

        </router-outlet>
    </div>
</mat-sidenav-content>
</mat-sidenav-container>